<!DOCTYPE html>
<html>
  <head>
<% include ../partials/head %>
  </head>
  <body class="clouds">
    <nav>
      <% include ../partials/nav %>
    </nav>
    <main class="container">
      <div class="filmshow">
        <h1><%=film.Title%></h1>
        <img class="show-poster" src="<%=film.Poster%>" alt=""></img>
      </br>
        Release Year: <%=film.Year%>
      </br>
        <%=film.Plot%>
      </div>
    </main>
    <footer>
      <ul class="centerfooter">
        <li><a  href="/films/add">Add Film to Library</a></li>
        <li class="logout"><form action="/films/<%=film._id%>?_method=DELETE" method="POST">
          <input class="logout" type="submit" value="Delete <%=film.title%>">
        </form></li>
      </ul>
    </footer>
  </body>
</html>
