<!DOCTYPE html>
<html>
  <head>
<% include ../partials/head %>
  </head>
  <body class="clouds">
    <nav>
      <% include ../partials/nav %>
    </nav>
    <main class="showcontainer" class="container">

      <div class="filmshow">
        <div>
        <img class="show-poster" src="<%=film.Poster%>" alt=""></img>
      </div>
      <div class="filmcontent">
        <h1><%=film.Title%></h1>
      </br>
        Release Year: <%=film.Year%>
      </br>
        <p><%=film.Plot%></p>
        <h2>Characters in this Film: </h2>
        <ul class='characterslist'>
            <% for(var i = 0; i < film.characters.length; i++){ %>
                <li><a href="/characters/<%=film.characters[i]._id%>"><img class="thumbnail" src="<%=film.characters[i].headshot%>"></a></li>
            <% } %>
        </ul>
      </div>
      </div>
    </main>
    <footer>
      <ul class="centerfooter">
        <footer>
          <ul class="centerfooter">
            <% if (currentUser) { %>
              <li><a  href="/films/add">Add a Film</a></li>
              <li><a href="/characters/add">Add a Character</a></li>
              <li>|</li>
              <li class="logout"><form action="/films/<%=film._id%>?_method=DELETE" method="POST">
                <input class="logout" type="submit" value="Delete <%=film.Title%>">
              </form></li>
            <% } else { %>
              <% include ../partials/footer %>
            <% } %>
          </ul>
        </footer>
      </ul>
    </footer>
  </body>
</html>
