<!DOCTYPE html>
<html>
  <head>
<% include ../partials/head %>
  </head>
  <body class="clouds">
    <nav>
      <% include ../partials/nav %>
    </nav>
    <main class="container">
      <h1><%=character.name%></h1>
      <img class="headshot" src="<%=character.headshot%>"></img>
    </br>
      Setting: <%=character.location%>
    </br>
      Type: <%=character.kind%>
    </br>
      Quote: <%=character.quote%>
    </br>
      Nemsis: <%=character.enemy%>
    </br>
      Love Interest: <%=character.love%>
    </br>
      Sidekicks: <%=character.friends%>
    </br>
    </main>
    <footer>
      <ul class="centerfooter">
        <li><a href="/characters/add">Add Character to Library</a></li>
        <li><a href="/characters/<%=character._id%>/edit">Edit <%=character.name%></a></li>
        <li class="logout"><form action="/characters/<%=character._id%>?_method=DELETE" method="POST">
          <input class="logout" type="submit" value="Delete <%=character.name%>">
        </form></li>
      </ul>
    </footer>
  </body>
</html>
